<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- etiqueta viewport -->

        <title>Document</title>

        <!-- EL LINKEADO ES DE LO GENERAL A LO PARTICULAR (FENÓMENO CASCADA) -->

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <!-- link íconos -->

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <!-- links roboto -->

        <script
            src="https://kit.fontawesome.com/c49398ad30.js"
            crossorigin="anonymous"
        ></script>
        <!-- link fontawesome -->

        <link rel="stylesheet" href="/css/normalize.css" />
        <!-- link normalize -->

        <link rel="stylesheet" href="/css/theme.css" />
        <!-- link theme.css -->

        <link rel="stylesheet" href="/css/styles.css" />
        <!-- link styles.css -->

        <link rel="stylesheet" href="/css/styles-tablet.css" />
        <!-- link styles-tablet.css -->

        <link rel="stylesheet" href="/css/styles-desktop.css" />
        <!-- link styles-desktop.css -->
    </head>
    <body>
        <header class="bg-yellow padding-10">
            <section class="top-header">
                <h1 class="width-50 padding-10">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo" />
                </h1>
                <div class="search-bar width-50">
                    <input type="text" placeholder="Buscar productos, marcas" />
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <p class="center-text">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </section>

            <nav class="navbar">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul>
                    <li>
                        <a href="/register">Creá tu cuenta </a>
                        <i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <a href="/login">Ingresá </a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="">Mis compras </a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>

        <main class="register-container">
            <h2 class="register-headline">Registrate</h2>
            <form class="register-form-flex" action="/" method="POST">
                <div>
                    <label for="nombre"></label>
                    <input
                        class="resgister-text-inputs"
                        type="text"
                        name="nombre"
                        id="nombre"
                        placeholder=" Nombre y Apellido"
                    />
                </div>

                <div>
                    <label for="usuario"></label>
                    <input
                        class="resgister-text-inputs"
                        type="text"
                        name="usuario"
                        id="usuario"
                        placeholder=" Nombre de Usuario"
                    />
                </div>

                <div>
                    <label class="register-texts-decorations" for="fecha"
                        >Fecha de Nacimiento:</label
                    >
                    <input
                        class="resgister-date-input"
                        type="date"
                        name="fecha"
                        id="fecha"
                    />
                </div>

                <div>
                    <label for="domicilio"></label>
                    <input
                        class="resgister-text-inputs"
                        type="text"
                        name="domicilio"
                        id="domicilio"
                        placeholder=" Domicilio"
                    />
                </div>

                <div class="user-category">
                    <label class="register-texts-decorations"
                        >Perfil del Usuario:</label
                    >
                    <select name="perfil">
                        <option value="comprador">Comprador</option>
                        <option value="vendedor">Vendedor</option>
                    </select>
                </div>

                <div class="user-interests">
                    <label class="register-texts-decorations">Intereses:</label>

                    <div class="sub-divs">
                        <input
                            type="checkbox"
                            name="categoria"
                            id="electro"
                            value="electro"
                        />
                        <label
                            class="register-subtexts-decorations"
                            for="electro"
                            >Electro</label
                        >
                    </div>

                    <div class="sub-divs">
                        <input
                            type="checkbox"
                            name="categoria"
                            id="moda"
                            value="moda"
                        />
                        <label class="register-subtexts-decorations" for="moda"
                            >Moda</label
                        >
                    </div>

                    <div class="sub-divs">
                        <input
                            type="checkbox"
                            name="categoria"
                            id="hogar"
                            value="hogar"
                        />
                        <label class="register-subtexts-decorations" for="hogar"
                            >Hogar</label
                        >
                    </div>

                    <div class="sub-divs">
                        <input
                            type="checkbox"
                            name="categoria"
                            id="juguetería"
                            value="Juguetería"
                        />
                        <label
                            class="register-subtexts-decorations"
                            for="juguetería"
                            >Juguetería</label
                        >
                    </div>

                    <div class="sub-divs">
                        <input
                            type="checkbox"
                            name="categoria"
                            id="saludable"
                            value="vida sana"
                        />
                        <label
                            class="register-subtexts-decorations"
                            for="saludable"
                            >Vida Sana</label
                        >
                    </div>
                </div>

                <div class="user-photo">
                    <label class="register-texts-decorations" for="foto"
                        >Foto de Usuario:</label
                    >
                    <input
                        type="file"
                        name="foto"
                        id="foto"
                        accept="image/jpg"
                    />
                </div>

                <div class="register-form-divs">
                    <label for="contraseña"></label>
                    <input
                        class="resgister-text-inputs"
                        type="password"
                        name="contraseña"
                        id="contraseña"
                        placeholder=" Contraseña"
                    />
                </div>

                <div>
                    <label for="confirmación"></label>
                    <input
                        class="resgister-text-inputs"
                        type="password"
                        name="confirmación contraseña"
                        id="confirmación"
                        placeholder=" Confirmar Contraseña"
                    />
                </div>

                <div class="register-buttons-box">
                    <button
                        class="register-buttons"
                        type="reset"
                        class="button-decoration"
                    >
                        Borrar
                    </button>
                    <button
                        class="register-buttons"
                        type="submit"
                        class="button-decoration"
                    >
                        Enviar
                    </button>
                </div>
            </form>
        </main>

        <footer class="bg-white register-footer-container">
            <section class="center-text">
                <i class="fas fa-credit-card icons-register"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="register-p">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con
                    tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>

            <section class="center-text">
                <i class="fas fa-gift icons-register"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="footer-p">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos
                    gratis en miles de productos. Es un beneficio de Mercado
                    Puntos.
                </p>
            </section>

            <section class="center-text">
                <i class="fas fa-user-shield icons-register"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="register-p">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que
                    no puedas hacer, porque estás siempre protegido.
                </p>
            </section>

            <section>
                <p class="register-copyright">
                    Copyright © 1999-2020 MercadoLiebre S.R.L.
                </p>
            </section>
        </footer>
    </body>
</html>
