@media (min-width: 1200px) {
    .wrapper {
        width: 25%;
    }
    .product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .hide-description {
        display: none;
    }
}
