/* HEADER */

.padding-10 {
    padding: 10px;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.center-text {
    text-align: center;
}

.navbar {
    display: none;
}

nav.navbar ul li a {
    color: black;
    text-decoration: none;
}

nav.navbar ul li {
    list-style: none;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #1259c3;
    color: white;
    margin: 14px;
    padding: 10px;
    border-radius: 6px;
}

/* MAIN */
.container {
    width: 90%;
    margin: 0 auto;
}

.product {
    margin: 10px 0;
    background-color: white;
}

.product .product-content {
    padding: 15px;
    border-top: 1px solid #ebebeb;
}

.trucks {
    color: #39b54a;
}

.discounts {
    font-size: 16px;
    color: #39b54a;
}

/* FOOTER */

.icons-footer {
    font-size: 2em;
    color: #1259c3;
    margin: 15px 0 5px 0;
}

.footer-p {
    margin: 0 10px 10px;
    padding: 0 10px;
}

.copyright {
    padding: 5px;
}
