/* HEADER */

.padding-10 {
    padding: 10px;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 400px;
}

.search-bar input {
    background-color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-grow: 1;
    padding: 5px;
}

.search-bar button {
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.center-text {
    text-align: center;
    color: #03264c;
}

.navbar {
    display: none;
}

nav.navbar ul li a {
    color: #03264c;
    text-decoration: none;
}

nav.navbar ul li {
    list-style: none;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #1259c3;
    color: white;
    margin: 14px;
    padding: 10px;
    border-radius: 6px;
}

/* MAIN */

.headlines {
    font-size: 24px;
    margin: 10px 0px 10px 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    width: 100%;
    padding: 0 10px;
}

.product {
    margin: 10px 0;
    background-color: white;
}

.product .product-content {
    padding: 15px;
    border-top: 1px solid #ebebeb;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.trucks {
    color: #39b54a;
    display: ​block​;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.prices {
    width: 30%;
}

.discounts {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}

/* FOOTER */

.footer-container {
    margin: 10px auto;
    width: 90%;
}
.icons-footer {
    font-size: 2em;
    color: #1259c3;
    margin: 15px 0 5px 0;
}

.footer-p {
    margin: 0 10px 10px;
    padding: 0 10px;
}

.copyright {
    padding: 5px;
}

/* LOGIN */

.login-container {
    width: 90%;
    margin: 0 auto;
}

.login-headline {
    margin: 10px 0px 0px;
    font-size: 24px;
    text-align: center;
    color: #03264c;
}

.login-form-flex {
    display: flex;
    flex-direction: column;
}

.login-inputs {
    width: 100%;
    padding: 5px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    background-color: #1259c3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
}

.login-footer-container {
    margin: 10px auto 0px;
    width: 90%;
    height: 100%;
}

.icons-login {
    font-size: 2em;
    color: #1259c3;
    margin: 15px 0 5px 0;
}

.login-p {
    margin: 0 10px 10px;
    padding: 0 10px;
}

.login-copyright {
    padding: 5px;
}

/* REGISTER */
.register-container {
    width: 90%;
    margin: 0 auto;
}

.register-headline {
    margin: 10px 0px 0px;
    font-size: 24px;
    text-align: center;
    color: #03264c;
}

.register-form-flex {
    display: flex;
    flex-direction: column;
}

.resgister-text-inputs {
    width: 100%;
    padding: 5px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
}

.resgister-date-input {
    width: 100%;
    padding: 5px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
}

.user-category {
    margin: 10px 10px 10px 0px;
}

.user-interests {
    display: flex;
    flex-direction: column;
}

.sub-divs {
    padding: 5px;
}

.user-photo {
    margin: 10px 10px 10px 0px;
}

.register-texts-decorations {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.register-subtexts-decorations {
    color: black;
}

.register-buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-buttons {
    width: 45%;
    background-color: #1259c3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
}

.register-footer-container {
    margin: 10px auto 0px;
    width: 90%;
    height: 100%;
}

.icons-register {
    font-size: 2em;
    color: #1259c3;
    margin: 15px 0 5px 0;
}

.register-p {
    margin: 0 10px 10px;
    padding: 0 10px;
}

.register-copyright {
    padding: 5px;
}
